# Common ignored folders
node_modules/
.local/
.pnpm-store/
dist/
.next/
build/
.cache/

# System files
.DS_Store
*.log
*.zip
*.tar.gz
*.swp
.npm/
.local/
node_modules/
.next/

# Environment files
.env
.env.local
.env.development.local
.env.production.local
.env.test.local
